body {
  background-image: url("z1.jpg");
  overflow: hidden;
}

p {
  top: 5%;
  width: 100%;
}

p, label, input, img {
  text-align: center;
  margin: auto;
  position: absolute;
  font-size: 30px;
  font-style: oblique;
}

input {
  accent-color: pink;
  color: pink;
}

#end {
  width: 70%;
  left: 15%;
  height: 80%;
  top: 10%;
  border: solid;
  border-width: 4px;
  border-radius: 5%;
  border-color: pink;
  background-color: #FDD;
  position: absolute;
}

#yes {
  left: 30%;
  top: 10%;
}

#yes_lb {
  left: 33%;
  top: 8.8%;
}

#no {
  right: 30%;
  top: 10%;
}

#no_lb {
  right: 33%;
  top: 8.8%;
}

#much_lb {
  width: 100%;
  top: 30%;
}

#much {
  width: 20%;
  left: 40%;
  top: 35%;
}

#anni_lb {
  width: 100%;
  top: 55%;
}

#anni {
  width: 20%;
  left: 40%;
  top: 60%;
  background-color: #FDD;
  border-radius: 5px;
  border-width: 2px;
  border: solid;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}

#sound {
  font-size: 20px;
  top: 55%;
}

#submit {
  top: 80%;
  width: 10%;
  left: 45%;
  border-radius: 5px;
  border: solid;
  border-color: pink;
  border-width: 2px;
  opacity: 0.5;
  background-color: #FDD;
}

#submit:hover {
  transition: 0.25;
  opacity: 0.95;
}

#heart {
  z-index: -1;
  top: 25%;
  opacity: 0.75;
}

#end_p {
  top: 20%;
  font-size: 50px;
}

#end_pp {
  top: 60%;
  font-size: 50px;
}
